.btn-warning {
    background-color: #ce04fc!important;
    color: white;
}

.btn-warning:hover {
    background-color: rgba(206, 4, 252, 0.75) !important;
    color: white;
}

.dashboard-action-button {
    width: 50px;
}

.dashboard table {
    overflow-x: scroll;
}
