.btn-warning {
    background-color: #ce04fc!important;
    color: white;
}

.btn-outline-danger {
    color: #00397b;
    border-color: #00397b;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #00397b;
    border-color: #00397b;
}

a {
    color: #00397b!important;
}

table th a {
    color: #00397b!important;
}

.btn-primary, .btn-success {
    background-color: #00397b!important;
    border-color: #00397b!important;
}

.navbar-nav .active {
    background-color: #00397b!important;
}

.navbar-nav .active a {
    color: white!important;
}

.system-text-color {
    color: #00397b;
}

.system-background-color {
    background-color: #00397b;
}

.btn-warning:hover {
    background-color: rgba(206, 4, 252, 0.75) !important;
    color: white;
}

.dashboard-action-button {
    width: 50px;
}

.dashboard table {
    overflow-x: scroll;
}

#account_navbar_menu {
    position: relative;
}

#account_navbar_menu a {
    text-align: end;
}
.header-center-text{
    width: -webkit-fill-available;
    color: #6f6f6f;
}
#account_navbar_menu .account_role {
    width: 150px;
    font-size: 14px;
    color: #a5a4a4;
    font-family: "Arial";
    text-align: end;
    margin-top: -12px;
    margin-right: 25px;
}

#select-cities-form .form-label {
    font-size: 16px;
    line-height: 2.3em;
}

#select-cities-form .submit-button {
    margin-left: 10px;
    margin-top: 45px;
}

#select-region-top-form {
    height: 40px;
}
