.btn-warning {
    background-color: #ce04fc!important;
    color: white;
}

.btn-warning:hover {
    background-color: rgba(206, 4, 252, 0.75) !important;
    color: white;
}

.dashboard-action-button {
    width: 50px;
}

.dashboard table {
    overflow-x: scroll;
}

#account_navbar_menu {
    position: relative;
}

#account_navbar_menu a {
    text-align: end;
}

#account_navbar_menu .account_role {
    width: 300px;
    font-size: 14px;
    color: #a5a4a4;
    font-family: "Arial";
    text-align: end;
    margin-top: -12px;
    margin-right: 25px;
}

#select-cities-form .form-label {
    font-size: 16px;
    line-height: 2.3em;
}

#select-cities-form .submit-button {
    margin-left: 10px;
    margin-top: 45px;
}

#select-region-top-form {
    height: 40px;
}
